name: Sync to Hugging Face
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Install Git LFS
        run: git lfs install

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # This version handles LFS tracking during the push
          git config --global user.email "smilesimile@example.com"
          git config --global user.name "smilesimile"
          git remote add hf https://smilesimile:$HF_TOKEN@huggingface.co/spaces/smilesimile/dc-supplychain
          git push --force hf main
